[general]
pid_file = "/var/run/awatchlog/rund.pid"
state_path = "/var/run/awatchlog/states"
region = "eu-west-1"

[[logfile]]
file = "/var/log/my-app.log"
log_group_name = "awatchlog/rust-agent.log"
log_stream_name = "{instance_id}"
datetime_format = "%b %d %H:%M:%S"

[[logfile]]
file = "/var/log/syslog.log"
log_group_name = "awatchlog/rust-syslog.log"
log_stream_name = "{instance_id}"
datetime_format = "%b %d %H:%M:%S"
